body{
    background-color: tomato;
}

.card-elements{
    background-image: url("Pokedex/images/card-background.png");
    border: solid 3px rgb(223, 223, 53);
    border-radius: 0pc;
}

.card-head{
    margin-top: 10px;
}

.pokemon-name{
    padding-left: 15%;
}

.pokemon-index{
    text-align: right;
    padding-right: 10%;
}