body{
    background-color: tomato;
}

.card-elements{
    background-image: url("../images/card-background.png");
    border: solid 7px #fbe06f;
    border-radius: 10px;
    width: 345px;
    height: 455px;
}

.card-head{
    margin-top: 10px;
}

.card-body{
    margin-left: 12px;
}

.pokemon-name{
    padding-left: 15%;
    font-weight: bold;
}

.pokemon-hp{
    text-align: right;
    padding-right: 10%;
}

.card-img-top{
    height: 250px;
    width: 300px;
    margin-top: 5px;
    margin-left: 15px;
}

.card-info{
    font-size: 10px;
}

.column-info{
    width: 131px;
}
.info-num{
    font-size: 15px;
}

#hp{
    font-size: 10px;
    font-weight: bolder;
}